# Application
NODE_ENV=development
PORT=3000
API_PREFIX=api
FRONTEND_URL=http://localhost:5173

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=job_watcher

# Prisma
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/job_watcher?schema=public
